@import "../variables";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 2.5em 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 0.9375em;
    }

    h1 {
      color: #181818;
      font-size: 1.5rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
