@import "variables";

* {
  font-family: "Proxima Nova", Roboto, system-ui, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  color: $black;
}

ul,
ol {
  list-style: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.1;
}

a {
  text-decoration: none;
}
